@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
	--accent: 136, 58, 234;
	--accent-light: 224, 204, 250;
	--accent-dark: 49, 10, 101;
	--accent-gradient: linear-gradient(
		45deg,
		rgb(var(--accent)),
		rgb(var(--accent-light)) 30%,
		white 60%
	);
}
html {
	color: white;
	font-family: system-ui, sans-serif;
	background: #f6f8fd;
	background-size: 224px;
	scrollbar-width: none;
	scrollbar-color: #688c44 white;
	scroll-behavior: smooth;
}